@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body, header, main, footer{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}



header{
    height: 75px;
    width: 100%;
    background: #434343;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side{
    padding-left: 15%;
}

.right-side{
    padding-right: 22%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    filter: brightness(60%);
  }

.phone_number{
    margin-right: 50px;
}

.about{
    margin-right: 75px;
}

.name_container{
    position: relative;
    text-align: center;
    color: white;
    overflow:hidden; /* this is important */
}

.name_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name{
    font-size: 60px;
}

.student{
    font-size: 25px;
}

.desktop_image{
    filter: brightness(30%);
    margin-bottom: -230px;
}

.inst_logo_main, .vk_logo_main{
    margin-right: 20px;
}

